apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  namespace: parodrig-jenkins-oadp
  labels:
    app: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      containers:
      - name: jenkins
        env:
          - name: OPENSHIFT_ENABLE_OAUTH
            value: "true"
          - name: OPENSHIFT_ENABLE_REDIRECT_PROMPT
            value: "true"
          - name: DISABLE_ADMINISTRATIVE_MONITORS
            value: "false"
          - name: KUBERNETES_MASTER
            value: https://kubernetes.default:443
          - name: KUBERNETES_TRUST_CERTIFICATES
            value: "true"
          - name: JENKINS_SERVICE_NAME
            value: jenkins
          - name: JNLP_SERVICE_NAME
            value: jenkins-jnlp
          - name: ENABLE_FATAL_ERROR_LOG_FILE
            value: "false"
          - name: JENKINS_UC_INSECURE
            value: "false"
          - name: CASC_JENKINS_CONFIG
            value: /var/lib/jenkins/proxy.yaml
          - name: JAVA_FIPS_OPTIONS
            value: -Dcom.redhat.fips=false
        image: registry.redhat.io/ocp-tools-4/jenkins-rhel9@sha256:6fedd14031dfee75577be4d60a7aae0d1535189a18f77744d33da26dfbcf377a
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 2
          httpGet:
            path: /login
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 3
          preiodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 240
        resources:
          limits:
            memory: 1Gi
        securityContext:
          privileged: false
        volumeMounts:
          - mountPath: /var/lib/jenkins
            name: jenkins-data
          - mountPath: /etc/pki/ca-trust/source/anchors
            name: jenkins-trusted-ca-bundle
          - mountPath: /mnt/test
            name: httpd-pvc
      serviceAccount: jenkins
      serviceAccountName: jenkins
      volumes:
        - name: jenkins-data
          persistentVolumeClaim:
            claimName: jenkins
        - configMap:
            defaultMode: 420
            name: jenkins-trusted-ca-bundle
            optional: true
          name: jenkins-trusted-ca-bundle
        - name: httpd-pvc
          persistentVolumeClaim:
            claimName: httpd-pvc

